body {
    background-color: rgb(254, 249, 255);;
}

header{
    color: rgb(61, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/src/images/pancake_img.jpg)
}

p {
    color: rgb(10, 0, 35)
}

video {
    width: 100%;
}

img{
    width: 50px;
}

a{
    color: rgb(0, 104, 159);
}